/* Josh Comeau CSS Reset */


/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
 }
 
 
 /* 2. Remove default margin */
 * {
  margin: 0;
 }
 
 
 body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
 }
 
 
 /* 5. Improve media defaults */
 img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
 }
 
 
 /* 6. Inherit fonts for form controls */
 input, button, textarea, select {
  font: inherit;
 }
 
 
 /* 7. Avoid text overflows */
 p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
 }
 
 
 /* 8. Improve line wrapping */
 p {
  text-wrap: pretty;
 }
 h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
 }
 
 
 /*
  9. Create a root stacking context
 */
 #root, #__next {
  isolation: isolate;
}
 
 
/* *************************************** SIDEBAR ******************************************** */

.side-container, .projects, .projects-list {
  display: flex;
  flex-direction: column;
}

.logo, .projects > p, .main-cont-header {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
 
.content {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 
 
.side-container {
  background-color: #008080;
  padding: 2rem 2rem;
  gap: 2rem;
  color: black;
}
 
 
.logo {
  font-size: 1.6rem;
  font-weight: bold;
}

.add-item {
  width: 10vw;
}
 
.add-item > div {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  gap: 0.6rem;
  font-size: 1.1rem;
}
 
 
.add-button {
  color: #ff7c48;
  cursor: pointer;
}

.today, .all-tasks {
  cursor: pointer;
}
 
 
.projects {
  gap: 0.8rem;
}
 
 
.projects > p {
  font-size: 1.4rem;
  font-weight: 600;
}
 
 
.projects-list {
  gap: 0.6rem;
  font-size: 1.1rem;
  cursor: pointer;
}
 
 


/* *************************************** Main Container ******************************************** */

.main-container {
  background-color: #faf3dd ;
  padding: 4rem;
} 

.main-cont-header {
  font-size: 2rem;
  color: black;
  font-weight: bold;
}

.tasks-container {
  margin-top: 2rem;
  font-size: 1.1rem;
  width: 45vw;
}

.task-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.task-content {
  display: flex;
  gap: 1rem;
}

input[type="checkbox"] {
  width: 1rem;
  cursor: pointer;
}

.date {
  font-size: 0.9rem;
  color: gray;
}

.edit-content {
  display: flex;
  gap: 5px;
  margin-top: 4px;
}

.icon {
  cursor: pointer;
}

/* *** Edit Container *** */

.edit-task-container {
  padding-left: 2rem;
}

.task-header {
  background-color: #4682B4;  /* #fff0c8 */
  padding: 0.5rem 5px;
  border: 2px solid rgb(144, 144, 144);
}

.edit-container {
  padding: 1rem;
  background-color: #008080;
}

.edit-container > form > div {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 1rem;
}

/* *************************************** Dialogs ******************************************** */

.add-project-class, .add-task-class {
  margin-left: calc(90vw - 50vw);
  /* border: 2px solid #ff7c48; */
  background-color: #008080;
  border-radius: 20px;
  padding: 2rem;
}

.add-project-class > form, .add-task-class > form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.project-input-label, .task-input-label {
  display: block;
  margin-bottom: 0.2rem;
}

dialog.add-project-class {
  width: 40vw;
  height: 20vh;
  margin-top: 34vh;
}

dialog.add-task-class {
  width: 40vw;
  height: 62vh;
  margin-top: 18.5vh;
}

.add-project-class > form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

input {
  width: 100%;
  height: 2.2rem;
  background: #faf3dd;
  border: none;
}

textarea {
  width: 100%;
  background: #faf3dd;
}

input:focus, textarea:focus {
  border: none;
  outline: none;
}

button {
  background-color: #4682B4;
  color: #faf3dd;
  border: 2px solid #faf3dd;
  width: 7rem;
  cursor: pointer;
}


